[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.4"
psycopg2 = "==2.8.6"
django-environ = "==0.4.5"
pillow = "==8.0.1"
sphinx = "==3.3.1"
gunicorn = "==20.0.4"
djangorestframework = "==3.12.2"
djangorestframework-simplejwt = "==4.6.0"
drf-yasg = "==1.20.0"
django-cors-headers = "==3.6.0"

[dev-packages]
httpie = "*"

[requires]
python_version = "3.9"
